{% extends 'base.html' %}
{% block content %}
<h1>
	{{ question.text }}
	<small>
		<br>
		<a href="/">Volver al home</a>
	</small>
</h1>

{% if error %}
	<p><strong>ERROR: Algo fue mal!</strong></p>
{% endif %}

{% if success %}
	<p><strong>Tu voto se ha emitido correctamente!</strong></p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
{% for choice in question.choices.all %}
	<div>
		<label>
			<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
			<img src="{{ choice.image.url }}">
			<span>Votos: {{ choice.votes }}</span>
		</label>
	</div>
{% empty %}
	<i>Nada que ver aquí</i>
	<br>
{% endfor %}
	{% if question.choices.count > 0 %}
	<button type="submit">Votar</button>
	{% endif %}
</form>
{% endblock %}